<!-- Nueva implementacion -->
@model MangaRica.ENTITY.ViewModels.Reports.ReporteEmpleadosActivosVm
@using System.Globalization
@{ 
    Layout = "_ReportBase.cshtml";                
    ViewBag.Title = Model.Titulo;
    ViewBag.Footer = Model.PieDePagina;
    var cr = new CultureInfo("es-CR");
}

@foreach (var dep in Model.Departamentos)
{
  <section class="no-break">
    <h2 style="margin:18px 0 8px 0;">Departamento: @dep.Nombre (@dep.TotalEmpleados)</h2>

    <table>
      <thead>
        <tr>
          <th>Carne</th>
          <th>Apellido 1</th>
          <th>Apellido 2</th>
          <th>Nombre</th>
          <th>Salario</th>
          <th>Puesto</th>
          <th>Fecha ingreso</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var e in dep.Empleados)
        {
          <tr>
            <td>@e.Carne</td>
            <td>@e.Apellido1</td>
            <td>@e.Apellido2</td>
            <td>@e.Nombre</td>
            <td class="num">@e.Salario.ToString("C", cr)</td>
            <td>@e.Puesto</td>
            <td>@e.FechaIngreso.ToString("dd/MM/yyyy")</td>
          </tr>
        }
      </tbody>
    </table>
  </section>
}
